## .NET
bin/
obj/
*.user
*.suo
.vs/

## IDE
.idea/

## OS
Thumbs.db
Desktop.ini
## Build artifacts
artifacts/
packaging/files.wxs

## WiX local extension cache
.wix/

## Visual Studio launch profiles
**/Properties/launchSettings.json
.pnpm-store/
