<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WebDir" Name="web">
        <Directory Id="WebDistDir" Name="dist">
          <Directory Id="WebDir_assets_27" Name="assets" />
        </Directory>
      </Directory>
    </DirectoryRef>
      <Component Id="f0" Guid="95DA02D7-20CA-DC5B-82DA-EFD0D1FE8A6B">
        <File Id="ff0" ShortName="LF000000.DLL" Source="$(var.PublishDir)/BouncyCastle.Crypto.dll" />
      </Component>
      <Component Id="f1" Guid="8CEFB37F-86B0-835F-94BF-6AEF00E8ABC0">
        <File Id="ff1" ShortName="LF000001.DLL" Source="$(var.PublishDir)/Csv.dll" />
      </Component>
      <Component Id="f2" Guid="32131402-E7C6-4753-81AF-6DB024A09C18">
        <File Id="ff2" ShortName="LF000002.DLL" Source="$(var.PublishDir)/DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="f3" Guid="EDF60DF0-30FF-875E-B3E5-6E2ABF724C6F">
        <File Id="ff3" ShortName="LF000003.DLL" Source="$(var.PublishDir)/DocumentFormat.OpenXml.Framework.dll" />
      </Component>
      <Component Id="f4" Guid="9EC9D60A-0098-D256-B232-D6A7B9881450">
        <File Id="ff4" ShortName="LF000004.DLL" Source="$(var.PublishDir)/e_sqlite3.dll" />
      </Component>
      <Component Id="f5" Guid="EF72A658-22C8-C753-85F3-ECBC0898A2FB">
        <File Id="ff5" ShortName="LF000005.DLL" Source="$(var.PublishDir)/FluentFTP.dll" />
      </Component>
      <Component Id="f6" Guid="BEAD7963-69BC-1550-8658-1071ACB8236D">
        <File Id="ff6" ShortName="LF000006.DLL" Source="$(var.PublishDir)/LabelFrame.Core.dll" />
      </Component>
      <Component Id="f7" Guid="8E0B09C1-1976-7659-8978-D36420E5B87D">
        <File Id="ff7" ShortName="LF000007.DLL" Source="$(var.PublishDir)/LabelFrame.Rendering.dll" />
      </Component>
      <Component Id="f8" Guid="774DACEB-F150-CC52-8FD2-534FD7D50629">
        <File Id="ff8" ShortName="LF000008.JSO" Source="$(var.PublishDir)/LabelFrame.WinHost.deps.json" />
      </Component>
      <Component Id="f9" Guid="AD642A9A-468A-485D-9955-FC8D5148E14E">
        <File Id="ff9" ShortName="LF000009.DLL" Source="$(var.PublishDir)/LabelFrame.WinHost.dll" />
      </Component>
      <Component Id="f10" Guid="B3A37835-919D-F453-A3C7-CA50F5A0AA24">
        <File Id="ff10" ShortName="LF000010.JSO" Source="$(var.PublishDir)/LabelFrame.WinHost.runtimeconfig.json" />
      </Component>
      <Component Id="f11" Guid="71D2E9B9-0C20-C558-801B-0DF9AF5D900A">
        <File Id="ff11" ShortName="LF000011.JSO" Source="$(var.PublishDir)/LabelFrame.WinHost.staticwebassets.endpoints.json" />
      </Component>
      <Component Id="f12" Guid="46DFD1F4-3CBB-9E53-A026-E3C8DAB209D3">
        <File Id="ff12" ShortName="LF000012.DLL" Source="$(var.PublishDir)/libSkiaSharp.dll" />
      </Component>
      <Component Id="f13" Guid="0D1BFE12-2484-6159-B7E8-BC4CD5550EDC">
        <File Id="ff13" ShortName="LF000013.DLL" Source="$(var.PublishDir)/Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="f14" Guid="1C26A463-018B-8052-866C-DBC850C73D40">
        <File Id="ff14" ShortName="LF000014.DLL" Source="$(var.PublishDir)/Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      <Component Id="f15" Guid="C3EDF053-6AC1-7459-B549-7A35A99CBB1A">
        <File Id="ff15" ShortName="LF000015.DLL" Source="$(var.PublishDir)/Microsoft.Windows.SDK.NET.dll" />
      </Component>
      <Component Id="f16" Guid="68C0EA92-6D7A-C35B-A7C6-A0275C1C4E4D">
        <File Id="ff16" ShortName="LF000016.DLL" Source="$(var.PublishDir)/Newtonsoft.Json.dll" />
      </Component>
      <Component Id="f17" Guid="5F7D9418-34DC-4451-9311-DB4BA5C71CAC">
        <File Id="ff17" ShortName="LF000017.DLL" Source="$(var.PublishDir)/SdkApi.Core.dll" />
      </Component>
      <Component Id="f18" Guid="F915DD40-929B-7A50-8BE8-BB94EEE7CDCB">
        <File Id="ff18" ShortName="LF000018.DLL" Source="$(var.PublishDir)/SdkApi.Desktop.dll" />
      </Component>
      <Component Id="f19" Guid="6D80E54A-9CED-6D5F-B388-B972DBDEF5DE">
        <File Id="ff19" ShortName="LF000019.DLL" Source="$(var.PublishDir)/SdkApi.Desktop.Usb.dll" />
      </Component>
      <Component Id="f20" Guid="F2CBA73E-1570-EA5D-B70A-7D3CA609F016">
        <File Id="ff20" ShortName="LF000020.DLL" Source="$(var.PublishDir)/SharpSnmpLib.dll" />
      </Component>
      <Component Id="f21" Guid="4FC7281C-7D0A-7457-9A3A-CBC201824F43">
        <File Id="ff21" ShortName="LF000021.DLL" Source="$(var.PublishDir)/SkiaSharp.dll" />
      </Component>
      <Component Id="f22" Guid="36A83444-7AE2-E05D-8EDC-3C891CA88D66">
        <File Id="ff22" ShortName="LF000022.DLL" Source="$(var.PublishDir)/SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="f23" Guid="696C1C93-03B5-FE50-B861-C49AB2DE9F20">
        <File Id="ff23" ShortName="LF000023.DLL" Source="$(var.PublishDir)/SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="f24" Guid="D463C07C-7100-6650-8233-2DCDA2F42E63">
        <File Id="ff24" ShortName="LF000024.DLL" Source="$(var.PublishDir)/System.Management.dll" />
      </Component>
      <Component Id="f25" Guid="5B796F2C-0EF8-D65C-8A9C-814932135725">
        <File Id="ff25" ShortName="LF000025.DLL" Source="$(var.PublishDir)/TemplateFrame.dll" />
      </Component>
      <Component Id="f26" Guid="E9B66286-2C4B-8254-99A6-431AA69521E8">
        <File Id="ff26" ShortName="LF000026.DLL" Source="$(var.PublishDir)/TemplateFrame.Excel.Simple.dll" />
      </Component>
      <Component Id="f27" Guid="4EA83572-3975-665E-8901-73F867EF995D">
        <File Id="ff27" ShortName="LF000027.CON" Source="$(var.PublishDir)/web.config" />
      </Component>
      <Component Id="f28" Guid="06E3B7F7-FBF5-FE54-B41E-DE4DCCC84D64">
        <File Id="ff28" ShortName="LF000028.DLL" Source="$(var.PublishDir)/WinRT.Runtime.dll" />
      </Component>
      <Component Id="f29" Guid="87DCAF7F-3236-4E5A-881E-45FAC5DC7747">
        <File Id="ff29" ShortName="LF000029.DLL" Source="$(var.PublishDir)/ZebraPrinterSdk.dll" />
      </Component>
      <Component Id="f30" Guid="7E7569DC-EE03-2D58-B0AE-58B9978A4C92">
        <File Id="ff30" ShortName="LF000030.DLL" Source="$(var.PublishDir)/zxing.dll" />
      </Component>
      <Component Id="f31" Guid="CF5B57C2-986C-775E-A6B7-0E754D919726">
        <File Id="ff31" ShortName="LF000031.DLL" Source="$(var.PublishDir)/en/TemplateFrame.Excel.Simple.resources.dll" />
      </Component>
      <Component Id="f32" Guid="F624D85D-B50A-0D5D-AEAC-830B10A41AE6">
        <File Id="ff32" ShortName="LF000032.DLL" Source="$(var.PublishDir)/en/TemplateFrame.resources.dll" />
      </Component>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w0" Guid="49DE3F5F-7483-A051-9843-198CF356B1A7">
        <File Id="wf0" ShortName="LF000000.SVG" Source="$(var.PublishDir)/web/dist/favicon.svg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w1" Guid="E0043F86-A182-8359-9139-6DDC8A769029">
        <File Id="wf1" ShortName="LF000001.SVG" Source="$(var.PublishDir)/web/dist/icons.svg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w2" Guid="53A49B0D-5CF4-E55B-A600-5B0159770C0E">
        <File Id="wf2" ShortName="LF000002.HTM" Source="$(var.PublishDir)/web/dist/index.html" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDir_assets_27">
      <Component Id="w3" Guid="8BBC232A-55CF-3859-99F5-21D99354C26E">
        <File Id="wf3" ShortName="LF000003.JS" Source="$(var.PublishDir)/web/dist/assets/index-ByzpH7eD.js" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDir_assets_27">
      <Component Id="w4" Guid="00C5EEDC-DA38-675A-B502-DEDF6C6E1758">
        <File Id="wf4" ShortName="LF000004.CSS" Source="$(var.PublishDir)/web/dist/assets/index-Dd8uOG6m.css" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <ComponentRef Id="f0" />
      <ComponentRef Id="f1" />
      <ComponentRef Id="f2" />
      <ComponentRef Id="f3" />
      <ComponentRef Id="f4" />
      <ComponentRef Id="f5" />
      <ComponentRef Id="f6" />
      <ComponentRef Id="f7" />
      <ComponentRef Id="f8" />
      <ComponentRef Id="f9" />
      <ComponentRef Id="f10" />
      <ComponentRef Id="f11" />
      <ComponentRef Id="f12" />
      <ComponentRef Id="f13" />
      <ComponentRef Id="f14" />
      <ComponentRef Id="f15" />
      <ComponentRef Id="f16" />
      <ComponentRef Id="f17" />
      <ComponentRef Id="f18" />
      <ComponentRef Id="f19" />
      <ComponentRef Id="f20" />
      <ComponentRef Id="f21" />
      <ComponentRef Id="f22" />
      <ComponentRef Id="f23" />
      <ComponentRef Id="f24" />
      <ComponentRef Id="f25" />
      <ComponentRef Id="f26" />
      <ComponentRef Id="f27" />
      <ComponentRef Id="f28" />
      <ComponentRef Id="f29" />
      <ComponentRef Id="f30" />
      <ComponentRef Id="f31" />
      <ComponentRef Id="f32" />
    </ComponentGroup>
    <ComponentGroup Id="WebFiles">
      <ComponentRef Id="w0" />
      <ComponentRef Id="w1" />
      <ComponentRef Id="w2" />
      <ComponentRef Id="w3" />
      <ComponentRef Id="w4" />
    </ComponentGroup>
  </Fragment>
</Wix>
