<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WebDir" Name="web">
        <Directory Id="WebDistDir" Name="dist">
          <Directory Id="WebDir_assets_34818" Name="assets" />
        </Directory>
      </Directory>
    </DirectoryRef>
      <Component Id="f0" Guid="C0507079-B883-4955-948B-0C91C90D5780">
        <File Id="ff0" ShortName="LF000000.DLL" Source="$(var.PublishDir)/DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="f1" Guid="12E4AE0C-390E-F85A-8FCD-CD522A6DB037">
        <File Id="ff1" ShortName="LF000001.DLL" Source="$(var.PublishDir)/DocumentFormat.OpenXml.Framework.dll" />
      </Component>
      <Component Id="f2" Guid="A398A1FB-A457-7453-A9F0-E24B879B94D9">
        <File Id="ff2" ShortName="LF000002.DLL" Source="$(var.PublishDir)/e_sqlite3.dll" />
      </Component>
      <Component Id="f3" Guid="5CD19A64-311C-A35B-9F40-90C0D185F26A">
        <File Id="ff3" ShortName="LF000003.DLL" Source="$(var.PublishDir)/LabelFrame.Core.dll" />
      </Component>
      <Component Id="f4" Guid="CEC1827D-8D7C-6757-AAEC-CB8E9094F55C">
        <File Id="ff4" ShortName="LF000004.DLL" Source="$(var.PublishDir)/LabelFrame.Rendering.dll" />
      </Component>
      <Component Id="f5" Guid="4DEE1DD4-9DAA-8257-8162-BD485C4895F0">
        <File Id="ff5" ShortName="LF000005.JSO" Source="$(var.PublishDir)/LabelFrame.Server.deps.json" />
      </Component>
      <Component Id="f6" Guid="87E9C0DF-60CC-5359-AA5A-9BE65644BE27">
        <File Id="ff6" ShortName="LF000006.DLL" Source="$(var.PublishDir)/LabelFrame.Server.dll" />
      </Component>
      <Component Id="f7" Guid="134D8333-A4B7-575F-8C04-CB82D1B3D752">
        <File Id="ServerExe" ShortName="LF000007.EXE" Source="$(var.PublishDir)/LabelFrame.Server.exe" />
      </Component>
      <Component Id="f8" Guid="122BD298-1DEA-3E59-90A7-0235A80AC733">
        <File Id="ff8" ShortName="LF000008.JSO" Source="$(var.PublishDir)/LabelFrame.Server.runtimeconfig.json" />
      </Component>
      <Component Id="f9" Guid="F9F9299E-69CF-BD5A-8AE9-9FA34F32FF42">
        <File Id="ff9" ShortName="LF000009.JSO" Source="$(var.PublishDir)/LabelFrame.Server.staticwebassets.endpoints.json" />
      </Component>
      <Component Id="f10" Guid="D0C9828F-7E93-CD54-8CCD-77E9734643CD">
        <File Id="ff10" ShortName="LF000010.DLL" Source="$(var.PublishDir)/libSkiaSharp.dll" />
      </Component>
      <Component Id="f11" Guid="B1F4424F-F028-B054-A796-A5DB3B7F4A93">
        <File Id="ff11" ShortName="LF000011.DLL" Source="$(var.PublishDir)/Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="f12" Guid="9A6DF5B7-3DD0-7253-B2C7-A55AC98AD078">
        <File Id="ff12" ShortName="LF000012.DLL" Source="$(var.PublishDir)/Microsoft.Win32.SystemEvents.dll" />
      </Component>
      <Component Id="f13" Guid="A7391EE5-0B80-FA5C-A06E-B375EEAB753D">
        <File Id="ff13" ShortName="LF000013.DLL" Source="$(var.PublishDir)/SkiaSharp.dll" />
      </Component>
      <Component Id="f14" Guid="03F8F6A0-D313-DA59-9F24-81F8BE98967D">
        <File Id="ff14" ShortName="LF000014.DLL" Source="$(var.PublishDir)/SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="f15" Guid="B2C227F8-5642-B55A-B87E-68B398A83001">
        <File Id="ff15" ShortName="LF000015.DLL" Source="$(var.PublishDir)/SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="f16" Guid="3167237F-A840-B754-96AA-286CF8269DBE">
        <File Id="ff16" ShortName="LF000016.DLL" Source="$(var.PublishDir)/System.Drawing.Common.dll" />
      </Component>
      <Component Id="f17" Guid="D8DA7C79-698C-E45D-8FE1-2F32ED274D88">
        <File Id="ff17" ShortName="LF000017.DLL" Source="$(var.PublishDir)/System.IO.Packaging.dll" />
      </Component>
      <Component Id="f18" Guid="0E568331-8879-9357-8BF2-8673A1F7C108">
        <File Id="ff18" ShortName="LF000018.DLL" Source="$(var.PublishDir)/System.Private.Windows.Core.dll" />
      </Component>
      <Component Id="f19" Guid="B1F1671D-0F6B-F651-B763-6EF988FCFAF7">
        <File Id="ff19" ShortName="LF000019.DLL" Source="$(var.PublishDir)/System.Private.Windows.GdiPlus.dll" />
      </Component>
      <Component Id="f20" Guid="143193E7-59A0-8056-8747-CFDE878F5EDE">
        <File Id="ff20" ShortName="LF000020.DLL" Source="$(var.PublishDir)/TemplateFrame.dll" />
      </Component>
      <Component Id="f21" Guid="F9662998-E03D-C558-BDA6-B4FCADF2A118">
        <File Id="ff21" ShortName="LF000021.DLL" Source="$(var.PublishDir)/TemplateFrame.Excel.Simple.dll" />
      </Component>
      <Component Id="f22" Guid="B9F9518F-E5AC-AD55-A747-A5249475B4DD">
        <File Id="ff22" ShortName="LF000022.CON" Source="$(var.PublishDir)/web.config" />
      </Component>
      <Component Id="f23" Guid="23DF13F2-9F5B-C45A-8D36-88876C00D351">
        <File Id="ff23" ShortName="LF000023.DLL" Source="$(var.PublishDir)/zxing.dll" />
      </Component>
      <Component Id="f24" Guid="C5808A9C-0ED2-0551-BAE9-8C4D7F86148F">
        <File Id="ff24" ShortName="LF000024.DLL" Source="$(var.PublishDir)/en/TemplateFrame.Excel.Simple.resources.dll" />
      </Component>
      <Component Id="f25" Guid="A9ED5DB4-EFB6-D459-AB05-169FD1F79B76">
        <File Id="ff25" ShortName="LF000025.DLL" Source="$(var.PublishDir)/en/TemplateFrame.resources.dll" />
      </Component>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w0" Guid="9EB18E96-AC13-BA5F-ABD9-4115D2F93C0E">
        <File Id="wf0" ShortName="LF000000.SVG" Source="$(var.PublishDir)/web/dist/favicon.svg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w1" Guid="87718D4D-1E64-7652-AA0F-A48CD3B2E93F">
        <File Id="wf1" ShortName="LF000001.SVG" Source="$(var.PublishDir)/web/dist/icons.svg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDistDir">
      <Component Id="w2" Guid="CD216427-50E9-4753-B7CC-BBF7435770EA">
        <File Id="wf2" ShortName="LF000002.HTM" Source="$(var.PublishDir)/web/dist/index.html" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDir_assets_34818">
      <Component Id="w3" Guid="31758EF2-8FCF-A454-8DAC-D10FDAC2E2C4">
        <File Id="wf3" ShortName="LF000003.JS" Source="$(var.PublishDir)/web/dist/assets/index-ByzpH7eD.js" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WebDir_assets_34818">
      <Component Id="w4" Guid="8E7D85EF-D5C1-A25A-AB74-24E81F9E1948">
        <File Id="wf4" ShortName="LF000004.CSS" Source="$(var.PublishDir)/web/dist/assets/index-Dd8uOG6m.css" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <ComponentRef Id="f0" />
      <ComponentRef Id="f1" />
      <ComponentRef Id="f2" />
      <ComponentRef Id="f3" />
      <ComponentRef Id="f4" />
      <ComponentRef Id="f5" />
      <ComponentRef Id="f6" />
      <ComponentRef Id="f7" />
      <ComponentRef Id="f8" />
      <ComponentRef Id="f9" />
      <ComponentRef Id="f10" />
      <ComponentRef Id="f11" />
      <ComponentRef Id="f12" />
      <ComponentRef Id="f13" />
      <ComponentRef Id="f14" />
      <ComponentRef Id="f15" />
      <ComponentRef Id="f16" />
      <ComponentRef Id="f17" />
      <ComponentRef Id="f18" />
      <ComponentRef Id="f19" />
      <ComponentRef Id="f20" />
      <ComponentRef Id="f21" />
      <ComponentRef Id="f22" />
      <ComponentRef Id="f23" />
      <ComponentRef Id="f24" />
      <ComponentRef Id="f25" />
    </ComponentGroup>
    <ComponentGroup Id="WebFiles">
      <ComponentRef Id="w0" />
      <ComponentRef Id="w1" />
      <ComponentRef Id="w2" />
      <ComponentRef Id="w3" />
      <ComponentRef Id="w4" />
    </ComponentGroup>
  </Fragment>
</Wix>
